@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.main
{
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("background.png");
    background: linear-gradient(#2b1055,#7597de);
}
.form
{
    top: 230px;
    margin: auto;
    position: relative;
    width: 280px;
    transition: .5s;
}
.userInput
{
    top: 125px;
    width: 380px;
    height: 400px;
    position: relative;
    margin: 6px auto;
    background: #fff;
    opacity: 0.8;
    overflow: hidden;
    transition: .5s;
}
.fieldInput
{
    position: relative;
    top: -20px;
    width: 100%;
    padding: 8px 0;
    margin: center;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit
{
    top: 25px;
    left: 40px;
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 5px auto;
    background: linear-gradient(to right, #6945d6, #c4b3f8);
    border: 0;
    outline: none;
    border-radius: 30px;
    position: center;
}
.formTitle
{
    position: relative;
    top: -60px;
    text-align: center;
    color: #fff;
}